@model List<Category>
<p>
    <a asp-controller="Products" asp-action="ProductsPage">Products</a> | <a asp-controller="Categories" asp-action="CategoriesPage">Categories</a>
</p>

@{
    Category newCat = new Category();
}

<partial name="CategoryForm" model="newCat"/>

<h1>Existing Categories</h1>

@foreach (Category category in Model)
{
    <a
    asp-controller="Categories"
    asp-action="CategoryDetails"
    asp-route-categoryId="@category.CategoryId"
    >@category.Name</a>
}