<h1>@ViewBag.prodName.Name</h1>
<h3>Categories: </h3>
<ul>
    @foreach (ProdCatAssociation cat in Model.Associations)
    {
        <li>@cat.CatA.Name</li>
    }
</ul>

@{
    ProdCatAssociation newCatForProd = new ProdCatAssociation();
}

<partial name="AddCatToProd" model="newCatForProd"/>

